
.castItem {
    max-width: 160px;
}
.actorImage {
    width: 100%;
}

.actorName {
    margin-top: 3px;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}

.actorRole {
    margin-top: 3px;
    text-align: center;
}
